.seccion-habilidades {
    text-align: left;
    border-radius: 8px;
}

.seccion-habilidades h2 {
    color: #a93b43;
    font-size: 1.7em;
    margin-bottom: -7px;  
}

.seccion-habilidades ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.seccion-habilidades li {
    font-size: 1.1em;
    line-height: 1.25;
    margin-bottom: 8px;
    color: white;
}